@import '~styles/colors.less';
@import '~styles/mixins.less';

.launch-form {
  margin-top: 2em;
}
.new-window-label {
  margin: 0 0 0 1em;
}

.launch-btn-container > div {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-image-container {
  * { display: inline-block; }
  img {
    height: 37px;
    margin: 0 7px;
    border-radius: 100%;
  }
  input {
    display: inline-block;
    width: ~"calc(100% - 37px - 14px)"
  }
}
