
@import '~styles/colors.less';

.launch-form {
  margin-top: 2em;
}
.new-window-label {
  margin: 0 0 0 1em;
}

.launch-btn-container > div {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}
