-@ val origin: String

!!!
head
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  base(href="/")

  title LOLZZZZ

  style
    | body { background: #2B3A42; }

  script
    | window.web_origin= "#{origin}";

body
  div#main
    div.row
      h1 Mock LTI 2.0 Consumer
      div.container.main
  script(src="/assets/main.js")
